/** Add css rules here for your application. */
/** Example rules used by the template application (remove for your app) */
h1 {
	font-family: Times, Garamond, serif;
	font: 24pt/48pt Times;
	background-color: #ffff99;
	font-size: 2em;
	font-weight: bold;
	color: black;
	margin: 40px 0px 70px;
	text-align: center;
}

.body {
	background-color: #ffff99;
	background-image: url("war/WEB-INF/gustavus-adolphus-college.gif");
}

.sendButton {
	display: block;
	font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
	background-color: #ffffff;
	width: 400px;
}

.dialogVPanel {
	background-color: #fffff0;
	margin: 5px;
}

.error {
	color: red;
}

.instructions {
	font-weight: bold;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
	margin: 15px 6px 6px;
}